alias lg=lazygit
alias tn="$SCRIPTS_DIR/local_development/tmux_sessionizer.sh"
alias tks='tmux kill-server'
alias ts='current_session=$(tmux display-message -p "#S") && tmux switch-client -n && tmux kill-session -t "$current_session"'
alias ta='tmux attach'
alias td="$SCRIPTS_DIR/dev-env/default_session.sh"

alias nn=pick_npm_script
alias cat=bat
alias cph='history | tail -n 1 | cut -c 8- | pbcopy'

alias ls='lsd -lah'
alias vim=nvim
alias vv='nvim .'
alias vdot='cd ~/Developer/toolbox/dotfiles; nvim .'
alias gst='git status'
alias gpsh='git push'
alias gpl='git pull'

alias ..='cd ..'
alias ...='cd ../..'

alias bu='brew update-if-needed; brew outdated'
alias buu='brew upgrade -y'

alias wpr-utils='tmux new-session -d -s wpr-utils "mprocs -c $ENV_DIR/mprocs/wpr-utils.yaml"'
alias clinit="$ENV_DIR/claude/init-project.sh"
alias szsh='source ~/.config/zsh/.zshrc'
alias hgrep='history 1 | grep'

alias ndx='git clean -ndX'
alias fdx='git clean -fdX'

alias sjs="$SCRIPTS_DIR/dev-env/start_session.sh job"
alias sss="$SCRIPTS_DIR/dev-env/start_session.sh study"
alias sos="$SCRIPTS_DIR/dev-env/start_session.sh ops"

wa-1() {
    (cd "$HOME/Developer/src/wa-1" && npm run start -- "$@")
}