[core]
  ; pager = delta
  excludesfile = ~/.config/git/.gitignore_global
  editor = nvim 
  logallrefupdates = true

[commit]
  verbose = true
# 	gpgSign = true

[log]
  abbrevcommit = true ; shorten the commit has when showing commit information

; [init]
; 	defaultBranch = master

[interactive]
  diffFilter = delta --color-only 

[delta]
  navigate = true # use n and N to move between diff sections
  side-by-side = true
  line-numbers = true
  syntax-theme = Solarized (dark)
  # blame = true

[diff]
		colorMoved = plain ; show code movement in different colors then added and removed lines 
  ; tool = default-difftool # use its default diffing tool ; not sure that this even works, compare with core.pager
		algorithm = histogram
		renames = true
		mnemonicPrefix = true ; replaces a/ and b/ with i/, w/ and c/

[difftool]
  prompt = false

[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE

[help]
	autocorrect = prompt

[merge]
  diffstyle = diff3
  conflictstyle = zdiff3 ; zealous diff3

[rebase]
  autosquash = true
  autostash = true
  updateRefs = true

[alias]
	# p = push
	pf = push --force-with-lease
	# pp = pull
	# ppf = pull --force
	# f = fetch
	# c = commit -m
	# ca = commit --amend
	# co = checkout
	st = status
	# a = add
	# r = rebase
	# rc = rebase --continue
	# ra = rebase --abort
	ras = rebase --autosquash -i
	# rename = branch -m
	# safe-clean = clean -xdf -e .idea -e .vscode

[safe]
	directory = ~/src

; correctly match repositories with associated git credentials based on the url of remote
[include]
	path = ~/Library/CloudStorage/Dropbox/toolbox/env/private.gitconfig


[status]
	showStash = true

[fetch]
	prune = true
	pruneTags = true
	all = true ; updates from all remotes, not just the defualt, i.e., origin

[tag]
	; treating dotted version numbers as a series of integer values for sorting purposes
	sort = version:refname

[push]
	autoSetupRemote = true
	; followTags = true ; push all local tags every time you push something

; ################################

# [format]
# 	pretty = oneline
# [gpg]
# 	format = ssh

# [maintenance]
# 	strategy = incremental
# [pull]
# 	rebase = true

[rerere]
  autoUpdate = true
  enabled = true

# [tag]
# 	gpgSign = true
